.stockItem {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(6, 0, 124) 0%, rgba(218,0,255,0.5105217086834734) 100%);
  box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  margin: 10px 0;
  max-width: 500px;
  padding: 10px;
}
